# Ignore folders
build_gcc/*
.vs/*
conan_profiles/*

# Ignore file types
*.fig
*.html
*.jpg
*.pdf
*.png
*.tex
*.webp
*.gp
*.svg
**/.timestamp

# Ignore specific files
TODO.txt
CMakeUserPresets.json

# Allow
!images/*
